#home-body {
  background-color: #ffb3d9;
}

/* NAVIGATION BAR AND MENU SECTION */
nav {
  background-color: #000;
}

.navbar.navbar-default {
  margin: 0 auto !important;
  background-color: #ffb3d9;
  border: none;
}

.nav.navbar-nav {
  margin-left: 20px;
  background-color: none;
}

/* MENU LIST STYLING */
.nav.navbar-nav li {
  margin-left: 100px !important;
}

.nav.navbar-nav a {
  color: #070707 !important;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 300;
}

.nav.navbar-nav a:hover {
  text-decoration: line-through;
  color: #3b0f37;
  font-weight: bold;
}

.navbar-brand {
  background-color: #070707;
}

#home-logo {
  background-color: #070707;
}

#home-logo.container-fluid {
  width: 20%;
}

#home-logo img {
  width: 100%;
}
/* THE MAIN BODY SECTION */
#main {
  background-color: #ffb3d9;
}

#main .col-sm-3 img {
  width: 100%;
  height: 500px;
}

#main .col-sm-9 {
  height: 500px;
}

.bigtext {
  letter-spacing: 3px;
  word-spacing: 3px;
  font-family: Wellfleet;
  text-align: center;
  margin-top: 50px;
  padding: 5px 0;
  line-height: 1px;
}

.highlight {
  font-family: Unkempt;
}

.smalltext {
  text-align: center;
  font-family: Montserrat, Sketchflow print;
  letter-spacing: 2px;
  font-size: 25px;
  color: #3b0f37;
}

button {
  background-color: #d9bfbf;
  width: 110px;
  height: 50px;
  font-size: 18px;
  color: purple;
  text-align: center;
  margin: 5px 0;
  border-radius: 20px;
}

#butts {
  text-align: center;
  margin-bottom: 10px;
}

#copyright {
  text-align: left;
  font-family: Tahoma;
}

.sub-contactzz {
  width: 30%;
  margin: auto;
  font-size: 20px;
  float: right;
}

/* FOOTER CSS */

.container-fluid#footer {
  background: black;
  padding-bottom: 20px;
}

.container-fluid#footer p {
  color: white;
  text-align: center;
  padding-top: 25px;
}

/* CONTACT US PAGE CSS */

#contact-body {
  background-color: #330033;
}
#logo-cont.container-fluid {
  width: 20%;
}

#logo-cont img {
  width: 100%;
}

#contact-head h1 {
  text-align: center;
  color: white;
}

#contact-form {
  width: 80%;
  text-align: center;
}

form {
  max-width: 100%;
  margin: 50px auto;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-family: Inconsolata;
  border-radius: 5px;
  line-height: 20px;
  background-color: white;
  border: 1px solid #cc6666;
  transition: all 0.3s;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  background-color: white;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 30%;
  background-color: #ffb3d9;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
}
[type="submit"]:hover {
  background: #cc4949;
}

/* ABOUT US PAGE CSS */
#about-body {
  background-color: white;
}

#about-head {
  color: black;
  text-align: center;
}

#about-message h3 {
  font-weight: bold;
}

#about-message {
  text-align: center;
  width: 60%;
}

#about-message p {
  line-height: 30px;
  word-spacing: 5px;
  font-size: 20px;
  text-align: left;
  color: black;
}

/* SIGNUP PAGE CSS */
#signup-body {
  font-family: Inconsolata;
}

#signup-main {
  width: 100%;
}

#signup-main .col-sm-6 {
  text-align: center;
}

#signup-main img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#signup-main h2 {
  font-weight: bold;
  font-size: 30px;
}

.form {
  width: 70%;
  height: auto;
  background: white;
  border-radius: 8px;
  margin: auto;

  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.form p {
  font-family: Inconsolata;
}

input, select {
  width: 90%;
  margin-bottom: 20px;
  padding: 20px 20px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 1px solid #bebed2;
}
input:focus, select:focus {
  border-bottom: 2px solid #78788c;
}

button {
  margin: auto;
  font-size: 15px;
  border: 1px solid #78788c;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #ffb3d9;
}
button:hover {
  background: #78788c;
  color: #fff;
}

/* LOGIN FORM PAGE CSS */

#login-body {
  background-color: #330033;
}

.login-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-family: Inconsolata;
  border-radius: 5px;
  line-height: 20px;
  background-color: white;
  border: 1px solid #cc6666;
  transition: all 0.3s;
  padding: 20px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

/* FAVOURITES PAGE CSS */

/* MEDIA QUERIES SECTION*/

@media only screen and (max-width: 600px) {
  .navbar-header button {
    border: none;
    width: 50px;
  }

  #home-logo.container-fluid {
    width: 50%;
  }

  #home-logo img {
    width: 100%;
  }

  #main.row .col-sm-3 {
    margin-bottom: 0;
  }

  #main .col-sm-3 {
    padding: 0;
    margin-bottom: 0;
  }

  #main.row .col-sm-9 {
    margin-top: 0;
    padding-top: 0;
  }

  #adview .col-sm-9 {
    padding: 0;
  }

  .sub-contactzz .col-xs-4 {
    padding: 0;
  }

  /* Contact page media queries */
  #logo-cont.container-fluid {
    width: 50%;
  }

  #logo-cont img {
    width: 100%;
  }

  #contact-form {
    width: 100%;
  }

  /* ABOUT US PAGE CSS */
  #about-message {
    width: 100%;
  }

  #about-message p {
    text-align: center;
  }

  /* SINNUP PAGE CSS */
  .form {
    width: 100%;
  }

  #signup-main img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  #members-wrap {
    width: 100%;
  }
}
