section > div.show-worker-images {
  margin: 0;
  padding-top: 20px;
  overflow: visible;
}

section > div.show-worker-images > h3 {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  margin: 0px;
}

section > div.show-worker-images > h3 > span {
  font-family: Qwigley, Montserrat;
  font-size: 300%;
  font-weight: lighter;
  letter-spacing: 10px;
}

header > div {
  display: flex;
  padding: 10px 0px;
}

header > div.rates-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

header > div > span {
  font-family: Qwigley;
  justify-content: flex-start;
  align-items: center;
  font-size: 200%;
  color: #000;
  font-weight: 300;
  margin-right: 30px;
  vertical-align: middle;
}

header > div > span:first-of-type {
  margin-right: 10px;
  color: #000;
}

header div.see-more {
  font-family: Montserrat, Arial;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-items: center;
  cursor: pointer;
  height: 45px;
  padding: 10px 0px;
  min-width: 350px;
}

header div.see-more:nth-of-type(1) {
  background-color: #cd7f32;
}

header div.see-more:nth-of-type(2) {
  background-color: silver;
}

header div.see-more:nth-of-type(3) {
  background-color: gold;
}

div.show-worker-images > div.gallery {
  margin-top: 30px;
}

div.show-worker-images > div.gallery > div {
  margin: 0px 20px 20px 0px;
}

div.show-worker-images > div.gallery > img:first-of-type{
  margin-left: 0;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  header div.see-more {
    margin: 20px 20px 0px 0px;
    font-size: 70%;
    min-width: 100px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  div.show-worker-images > div.gallery {
    margin-top: 5px;
  }
  
  div.show-worker-images > div.gallery > img {
    width: 50%;
    height: auto;
    margin: 10px 0px;
  }
  
  section > div.show-worker-images > header {
    max-width: 100%;
  }

  section > div.show-worker-images > h3 {
    justify-content: space-between
  }

  section > div.show-worker-images > h3 > span {
    font-size: 100%;
    font-weight: normal;
  }

  header > div > span {
    font-size: 150%;
  }

  header > div.rates-container {
    flex-direction: column;
    align-items: center;
  }

  header div.see-more {
    margin: 0px 0px 30px 0px;
  }

  header div.see-more:last-of-type {
    margin-bottom: 0px;
  }
}
