section > div.show-worker-images {
  margin: 0;
  padding-top: 20px;
}

section > div.show-worker-images > h3 {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

section > div.show-worker-images > header {
  max-width: 50%;
}

header > div {
  display: flex;
  padding: 10px 0px;
}

@media screen and (max-width: 768px) {
  header > div:first-of-type {
    /* justify-content: space-between; */
  }
}

header > div > span {
  font-family: Qwigley;
  justify-content: flex-start;
  align-items: center;
  font-size: 200%;
  color: #000;
  font-weight: 300;
  margin-right: 30px;
  vertical-align: middle;
}

header > div > span:first-of-type {
  margin-right: 10px;
  color: #000;
}

header > div.see-more {
  font-family: Montserrat, Arial;
  margin: auto;
  display: flex;
  justify-items: center;
  min-width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  height: 60px;
}

div.show-worker-images > div.gallery {
  margin-top: 30px;
}

div.show-worker-images > div.gallery > img {
  margin: 0px 20px 20px 0px;
}

div.show-worker-images > div.gallery > img:first-of-type{
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  div.show-worker-images > div.gallery {
    margin-top: 5px;
  }
  
  div.show-worker-images > div.gallery > img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
  }
  
  section > div.show-worker-images > header {
    max-width: 100%;
  }

  section > div.show-worker-images > h3 {
    justify-content: space-between
  }
}
