div.show-worker-images {
  margin-top: 0px;
  padding: 50px 0px;
}

div.show-worker-images > div > div.gallery {
  min-height: auto;
}

div.show-worker-images h3,
div.onboarding > h3 {
  font-weight: 900;
  font-family: Qwigley;
  font-size: 350%;
  color: #ff6699;
  text-align: center;
}

div.see-more {
  display: block;
  margin: auto;
  width: 170px;
}

div.see-more a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ff6699;
  padding: 10px 20px;
  border-radius: 5px 10px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 90%;
  min-width: 150px;
  transition: all 0.15s ease;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}

div.see-more a:focus,
div.see-more a:hover,
div.see-more a:active {
  text-decoration: none;
  transform: scale(1.03, 1.03);
  box-shadow: 0px 10px 6px -2px rgba(0, 0, 0, 0.3),
    0px 0px 4px rgba(0, 0, 0, 0.1);
}

figcaption {
  background: #fff;
}

div.cover {
  background-color: #fff;
  min-height: 500px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.cover div.bigtext {
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cover > div.bigtext > h2 {
  text-align: center !important;
  width: 100%;
  font-weight: bold;
  font-size: 400%;
  line-height: 1.5;
  color: #ff6699;
  font-family: Qwigley;
  margin-bottom: 0px;
}

div.cover > div.bigtext > h2 i,
h3 > i {
  font-size: 45%;
}

div.cover div.smalltext p {
  font-weight: 200;
  font-family: Qwigley;
  text-transform: capitalize;
  font-size: 300%;
  color: #555;
  margin-top: 0px;
  text-align: center;
}

div.onboarding {
  width: 100%;
  min-height: 400px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}

div.onboarding > h3 {
  text-align: center;
  color: #ff6699;
}

div.onboarding > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

div.onboarding div.step {
  flex: 1;
  min-height: 100px;
  text-align: center;
  font-family: Montserrat;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  background-color: #ff6699;
  min-height: 130px;
}

div.step h4 {
  font-family: Montserrat;
  font-size: 100%;
  font-weight: 900;
  text-emphasis-style: dot;
  text-emphasis-position: under;
}

div.step span {
  /* background: red; */
  line-height: 1.5;
  font-weight: 300;
}

div.onboarding div.step span {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  div.gallery {
    margin-top: 20px;
    height: auto;
  }

  div.show-worker-images h3,
  div.onboarding > h3 {
    font-weight: 200;
    font-size: 220%;
  }

  div.show-worker-images div.gallery figure,
  div.show-worker-images div.gallery figure:last-of-type {
    margin-bottom: 30px;
  }

  div.cover {
    min-height: 300px;
  }

  div.cover div.bigtext h2 {
    font-size: 220%;
  }

  div.cover div.smalltext p {
    font-size: 140%;
  }

  div.onboarding {
    min-height: 550px;
  }

  div.onboarding > div {
    flex-direction: column;
    align-items: center;
  }
}
