div.show-worker-images {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin-top: 30px;
}

div.show-worker-images h3 {
  font-size: 300%;
  font-family: Qwigley;
  font-weight: 900;
  color: #ff6699;
  text-align: left;
  -webkit-text-emphasis-style: dot;
  text-emphasis-style: dot;
  -webkit-text-emphasis-position: under;
  text-emphasis-position: under left;
  -webkit-text-emphasis-color: #ff6699;
  text-emphasis-color: #ff6699;
  margin: 0px;
  padding: 15px 0px 5px;
}

div.show-worker-images div.gallery {
  min-height: calc(100vh - 200px);
  padding: 10px 0px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.gallery figure {
  position: relative;
  max-width: calc(100% / 4 - 10px);
  min-width: 160px;
  margin: 0px 20px 40px 0px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}

div.gallery figure:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0px 10px 6px -2px rgba(0, 0, 0, 0.3),
    0px 0px 4px rgba(0, 0, 0, 0.1);
}

div.gallery img {
  height: 240px;
  position: relative;
  display: block;
  margin: auto;
}

figcaption {
  padding: 10px 3px;
  background-color: #fff;
}

figcaption h4 {
  font-weight: 400;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #ff6699;
  font-size: 100%;
  margin-top: 0px;
}

figcaption > footer {
  font-size: 100%;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  color: #000;
  justify-content: space-between;
  width: 100%;
  font-family: Qwigley;
}

figcaption > footer > span:last-of-type{
  margin-left: auto;
  color: gold;
}

figcaption > footer i.material-icons {
  margin-right: 4px;
  font-size: 105%;
}

figcaption > footer > span:last-of-type > i{
  margin: 0;
}

figure.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
  border-radius: 0;
  animation: pop 0.3s ease infinite alternate;
}

figure.placeholder > div,
figure.placeholder > h3 {
  background: #eee;
  width: 100%;
  height: 16px;
  margin-top: 7px;
}

figure.placeholder > h3 {
  background: #ddd;
  margin-bottom: 10px;
}

figure.placeholder > div:first-of-type {
  height: 150px;
  margin-top: 0px;
}

footer {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 80%;
}

@media screen and (max-width: 768px) {
  section.container {
    padding: 0px;
  }

  div.show-worker-images {
    margin-top: 10px;
  }

  div.show-worker-images h3 {
    font-size: 200%;
    text-align: center;
    font-weight: 900;
  }

  div.show-worker-images div.gallery {
    flex-direction: column;
    padding: 0px;
  }

  div.show-worker-images div.gallery figure img {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 150px;
    background: #eee;
  }

  div.show-worker-images div.gallery figure {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 20px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
  }

  div.show-worker-images div.gallery figure:last-of-type {
    margin-bottom: 0px;
  }

  div.show-worker-images div.gallery figure:hover {
    transform: none;
    box-shadow: initial;
  }

  figcaption {
    padding: 10px;
  }

  figcaption > footer i.material-icons {
    font-size: 100%;
  }

  figcaption > footer span {
    font-size: 200%;
  }

  figcaption > footer span:last-of-type {
    font-size: 150%;
  }
}
