* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Open Sans", sans-serif;
}

.hide {
  display: none;
}

body {
  margin: 0px;
}

section {
  min-height: calc(100vh - 160px);
}

section.container:nth-of-type(2) {
  background: #f9f9f9;
}

a p {
  text-decoration: none;
  margin-bottom: 20px !important;
  color: #000;
}

div.profile-wrapper {
  width: 100%;
  min-height: calc(100vh - 186px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.pic-wrapper,
div.info-wrapper {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  border-radius: 0px 0px 5px 5px;
  padding-top: 10px;
}

div.pic-wrapper img {
  max-width: 100%;
  max-height: calc(100% - 40px);
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}

div.info-wrapper {
  padding: 0px 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.info-wrapper form {
  width: 100%;
  font-family: Montserrat;
  padding-bottom: 20px;
  height: auto;
  background: white;
  border-radius: 8px;
  margin: auto auto 10px auto;
  font-family: Montserrat;
  position: relative;
}

div.info-wrapper h3 {
  font-weight: bold;
  font-family: Qwigley;
  font-size: 300%;
  color: #ff6699;
  margin: 10px 0px 30px;
}

div.info-wrapper h3 i {
  margin: 0px 10px;
}

div.info-wrapper form input,
div.info-wrapper form select {
  font-weight: 300;
  display: inline-block;
  padding: 10px;
  border: 1px solid #a9a9a9;
  margin: 10px 0px 30px;
  color: #000;
  width: 90%;
  outline: none;
  transition: all 0.3s;
}

div.info-wrapper form label {
  display: block;
  width: 90%;
  text-align: left;
  margin: auto;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 80%;
  text-transform: uppercase;
  color: #999;
}

div.info-wrapper form button,
div.see-more {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background: #ff6699;
  padding: 10px 20px;
  border-radius: 5px 10px;
  color: #fff;
  border: 2px solid transparent;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 90%;
  min-width: 150px;
  transition: all 0.15s ease;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}

div.info-wrapper form button:focus,
div.info-wrapper form button:hover {
  outline: none;
  text-decoration: none;
  transform: scale(1.03, 1.03);
  box-shadow: 0px 10px 6px -2px rgba(0, 0, 0, 0.3),
    0px 0px 4px rgba(0, 0, 0, 0.1);
}

div.info-wrapper form input:focus,
div.info-wrapper form input:hover,
div.info-wrapper form select:focus,
div.info-wrapper form select:active,
div.info-wrapper form button:active {
  outline: none;
}

#finalSubmit > i {
  animation-duration: 0.55s;
}

div.show-worker-images {
  width: 100%;
  overflow: hidden;
}

div.show-worker-images h3 {
  font-family: Qwigley;
  font-weight: 900;
  font-size: 250%;
  color: #ff6699;
  text-align: left;
  text-transform: capitalize;
}

div.show-worker-images h3 i {
  margin: 0px 10px;
}

div.show-worker-images h3 i:first-of-type {
  margin-left: none;
}

div.show-worker-images div.gallery {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

div.show-worker-images div.gallery img {
  position: relative;
  height: 240px;
  margin: 0px 0px 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
}

div.show-worker-images div.gallery div {
  position: relative;
}

div.show-worker-images div.gallery div button {
  border-radius: 3px;
  position: absolute;
  background: #d9534f;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding: 5px 10px;
  color: #fff;
  font-size: 40%;
  border: none;
  height: auto;
  width: auto;
  font-family: Montserrat;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
  font-weight: 700;
}

div.show-worker-images div.gallery div button:focus,
div.show-worker-images div.gallery div button:hover, 
div.show-worker-images div.gallery div button:active {
  background: #c9302c;
}

div.show-worker-images div.gallery div button i{
  font-size: 300%;
}

@media screen and (max-width: 768px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  section.container {
    padding: 0px;
    height: auto;
    min-height: calc(100vh - 70px);
  }

  div.show-worker-images {
    padding: 14px;
  }

  div.profile-wrapper {
    flex-direction: column;
    height: 100%;
  }

  div.pic-wrapper {
    padding: 0px 0px 10px;
    width: 100%;
    height: auto;
  }

  div.pic-wrapper img {
    width: 100%;
  }

  div.info-wrapper {
    width: 100%;
  }

  div.info-wrapper h3 {
    margin-bottom: 30px;
  }

  div.info-wrapper form input,
  div.info-wrapper form select {
    width: 100%;
    padding: 5px;
  }

  div.info-wrapper form label {
    width: 100%;
  }

  div.info-wrapper form button {
    display: block;
    width: auto;
    margin: auto;
  }

  div.show-worker-images h3 {
    text-align: center;
  }

  div.show-worker-images div.gallery {
    flex-direction: column;
  }

  div.show-worker-images div.gallery img {
    width: 100% !important;
    height: auto !important;
    margin: 0px 0px 20px 0px;
  }

  div.show-worker-images div.gallery div button {
    right: 0px;
  }
}
