section.transaction{
  min-height: calc(100vh - 160px);
  padding-top: 20px;
}

section > h2 {
  color: #ff6699;
  font-family: Montserrat;
  font-weight: 900;
  text-align: center;
  font-size: 180%;
}

section main {
  padding: 20px 0px;
  position: relative;
}

section main .placeholder {
  width: 100%;
  height: 100px;
  background: #eee;
  margin-bottom: 20px;
  animation: pop .3s ease infinite alternate;
}

section main span.placeholder {
  display: block;
  height: 20px;
}

section main div.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 3px;
}

div.tab:nth-of-type(odd){
  background-color: #f9f9f9;
}

div.tab:nth-of-type(even){
  background-color: #fdfdfd;
}

div.tab > span{
  display: block;
  width: 100%;
  padding: 10px 0px;
  font-family: Montserrat;
  font-weight: 700;
  color: #555
}

div.tab > small{
  flex: 0.2;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 60%;
  text-align: center;
  color: #aaa;
}

div.tab > small.completed{
  color: #5cb85c;
  border-color: #5cb85c;
}

div.tab > span:first-of-type{
  color: #ff6699;
  font-size: 85%;
  flex: 1;
  text-transform: uppercase;
}

div.tab > span:nth-of-type(2){
  font-weight: 900;
  font-size: 150%;
  color: #000;
  flex: 1;
}

div.tab > span.rank{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1.7;
}

div.tab > span > span {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 85%;
  padding: 0px 0px 5px 0px;
  background: transparent;
  border: 0px;
  height: auto;
  margin: 0px;
  border-radius: 0;
  color: #ff6699;
  text-transform: uppercase;
  font-weight: 700;
}

div.tab > span > span i{
  margin: 0px 3.5px;
  color: gold;
}

div.tab > span select{
  margin: 0px;
  padding: 0px 0px 10px 0px;
  width: auto;
  border-bottom: 3px solid #ff6699;
}

div.tab > span select option{
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  section main div.tab {
    flex-direction: column;
    padding: 0px 10px 10px;
    align-items: flex-start;
  }

  div.tab > span > span i{
    margin: 10px 10px 0px 0px;
  }

  div.tab > span > span {
    padding: 0px;
  }

  div.tab > span:last-of-type{
    flex-direction: column;
    align-items: flex-start;
  }
}